NODE_ENV="development"

POSTGRES_HOST="localhost"
POSTGRES_PORT="5432" # Needs to match the port in docker-compose.yml
POSTGRES_NAME="mydb"
POSTGRES_USER="username"
POSTGRES_PASSWORD="password"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_NAME}?schema=public"

REDIS_HOST="localhost"
REDIS_PORT="6379" # Needs to match the port in docker-compose.yml
REDIS_USERNAME=""
REDIS_PASSWORD=""

GCP_PROJECT_ID="project-id"
GCP_CLIENT_EMAIL="service-account-email"
GCP_PRIVATE_KEY="service-account-private-key"
GCP_BUCKET_LISTINGS="bucket_name"